<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="<%= url("/stylesheets/normalize.css ") %>">
    <link rel="stylesheet" type="text/css" href="<%= url("/stylesheets/style_start.css ") %>">
    <title>Hangman</title>
</head>

<body>
    <div class="container">
        <header class="header">
            <img class="logo" src="/images/logo.png" alt="logo"> 
            <p class="headline">Hangman</p>
        </header>
        <main class="main">
            <form method="get" action="/start" class="dictionary-select">
                <label>
                    Select dictionary:
                    <select name="file_name">
                        <% @file_names.each do |name| %>
                            <option value="<%= name %>">
                                <%= name %>
                            </option>
                            <% end %>
                    </select>
                </label>
                <button type="submit">OK</button>
            </form>

            <form method="post" action="/new" class="new-game">
                <button type="submit">New game</button>
            </form>

            <form method="get" action="/start" class="guess">
                <input type='text' name='guess' pattern="[a-zа-я]" title="Only a-z or а-я" maxlength="1" autocomplete="off" autofocus/>
                <button type="submit">Guess</button>
            </form>
            

            <div class="fields">
                <p><%= @@fields %></p>
            </div>

            <div class="hangman">
                <img src="<%= "/images/hangman#{@@number_of_attempts}.png" %>" alt="hangman.png">
            </div>

            <div class="used-letters">Used letters:
                <strong><%= @@used_letters.join(", ") %></strong>
            </div>

            <div class="number-of-attempts">Number of attempts:
                <strong><%= @@number_of_attempts %></strong>
            </div>

            <div class="message">
                <%= @@message %>
            </div>
        </main>
        <aside class="l_aside">
        </aside>
        <aside class="r_aside">
        </aside>
        <footer class="footer">
        </footer>
    </div>
</body>

</html>